
<form method="POST">
    Dni: <input type="text" name="dni" /><br />
    Email: <input type="email" name="email" /><br />
    <input type="submit" value="Login" /><br/>
    Sí usted no esta registrado, por favor registrese<br/>
    <input type="submit" value="Registrarse" onclick="">
</form>