@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h1>@ViewData["Message"]</h1>

<p>Use this area to provide additional information.</p>
<img src=@ViewData["srcImg"] width="200px" height="200px">
<form method="POST"function=parseData>
<section align="left">
    <input type="text" name="PriceEffective" value="54.00">
    <input type="date" name="Date">
    <input type="text" name="Latitude" value="-34.617849">
    <input type="text" name="Longitude" value="-58.423841">
    <button onclick="parseData()">"OK"</button>
</section>
</form>