@using System
@model Guid
<!DOCTYPE html>
<html>
   <head>
      <title>Simple Map</title>
      <meta name="viewport" content="initial-scale=1.0">
      <meta charset="utf-8">
      <style>
         /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
         #map {
         height: 500px;
         width:100%;
         }
      </style>
   </head>
   <body>
      <h3>Mejor precio</h3>
      <p id="productId" class="hidden">@Model.ToString()</p>
      <div id="map"></div>
      @section Scripts{
        <script src="~/js/ViewMap.js">
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE3SszsRQSvtBzYUn3hiiqwNLtOUabAx8&callback=initMap"
          async defer></script>
      }
   </body>
</html>