<div class="container">

    <form action="/Products/Search" method="post" enctype="multipart/form-data">
        <p>Ingresa la imagen a buscar.</p>
        <div class="form-group">
            <input type="file" name="image" accept="image/*">
        </div>
        <div>
            <button type="submit">Enviar!</button>
        </div>
    </form>
</div>
