<div class="container row">
    @if(!System.String.IsNullOrEmpty(ViewBag.Errors))
    {
        <div class="alert alert-danger">@ViewBag.Errors</div>
    }
    <form class="col-md-6" action="/Products/Search" method="post" enctype="multipart/form-data">
        <p>Ingresa la imagen a buscar.</p>
        <div class="form-group">
            <input type="file" name="image" accept="image/*">
        </div>
        <div>
            <button type="submit">Enviar!</button>
        </div>
    </form>

    <div class="col-md-6">
        <a href="@Url.Action("NewProduct","Products")">
            <button type="button">Cargar nuevo producto!</button>
        </a>
    </div>
</div>

