<div class="container">

    <form action="/Products/NewProduct" method="post" enctype="multipart/form-data">
        <p>Ingresa los datos de tu nuevo producto.</p>
        <div class="form-group">
            <input type="text" placeholder="Descripción del producto" name="description">
        </div>
        <div class="form-group">
            <input type="file" name="file">
        </div>
        <div>
            <button type="submit">Enviar!</button>
        </div>
    </form>

</div>
